@{
    ViewBag.Title = "Home Page";
}
<div>
    <form id="fileUpload" action="@Url.Action("AddImage")" method="POST" enctype="multipart/form-data">
        <input id="fileInput" type="file" />
        <input type="button" value="Upload file" id="btnFileUpload" />
    </form>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">

    $("#btnFileUpload").click(function () {
        var formData = new FormData();
        var file = document.getElementById("fileInput").files[0];
        formData.append("fileInput", file);

        $.ajax({
            url: "Home/UploadFile",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function () {
                alert("Upload success");
            }
        });
    });

</script>
